<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.thrive">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.THRIVE">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SunOnboarding"/>
        <activity android:name=".LakeOnboarding"/>
        <activity android:name=".MountainOnboarding"/>
        <activity android:name=".NewObstacleActivity"/>
        <activity android:name=".HookBehaviours"/>
        <activity android:name=".NewHookActivity"/>
        <activity android:name=".BoatOnboarding"/>
        <activity
            android:name=".ValuesActivity"/>
        <activity
            android:name=".NewValueActivity"/>

        <activity
            android:name=".ObstaclesActivity"/>

        <activity android:name=".BoatActivity"/>
        <activity
            android:name=".HabitActivity"
            android:label="Valued Behaviours"/>

        <activity
            android:name=".NewHabitActivity"
            android:label="New Valued Behaviour"/>
        <activity
            android:name=".StartOnboarding"/>
        <activity
            android:name=".ValuesStoryOnboarding"/>
        <activity
            android:name=".ValuesViewOnboarding"/>
        <activity
            android:name=".ValuesInsertOnboarding"/>
        <activity
            android:name=".HabitsStoryOnboarding"/>
        <activity
            android:name=".StoryEndOnboarding"/>

    </application>

</manifest>